
@{
    ViewData["Title"] = "codeeditor";
    Layout = "";
}
<link rel="stylesheet" href="~/code/style.css">


<div class="container split">
    <textarea id="htmlCode" placeholder="Type HTML code here" spellcheck="false" oninput="update(0)"
              onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}if(event.keyCode==8){update(1);}"></textarea>

    <textarea id="cssCode" placeholder="Type CSS code here" spellcheck="false" oninput="update(0)"
              onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}if(event.keyCode==8){update(1);}"></textarea>

    <textarea id="javascriptCode" spellcheck="false" placeholder="Type JavaScript code here" oninput="update(0)"
              onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}if(event.keyCode==8){update(1);}"></textarea>
</div>
<div class="iframe-container split">
    <iframe id="viewer"></iframe>
</div>

<script src="~/code/main.js"></script>
