
@{
    ViewData["Title"] = "CourseDescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/course Desc/course-description.css" />


<div>

    @foreach (var i in Model)
    {
        <div class="big-container">
            <div class="img-container">
            
                    <img class="course-img" style="margin-top:30%" src="~/course/@Url.Content(i.image)" alt="">
            
            </div>

            <div class="course-description-container">
                <div class="course-description">
                    <div class="course-title">@i.Title course </div>
                    <div class="course-desc">@i.Des</div>
                    <div class="desc-icons">
                        <div class="wrapper">
                            <div class="link_wrapper">
                                <center>  
                                <a asp-controller="My" asp-action="videos_course" asp-route-co="@i.Id" asp-route-num="1" class="A">Start Now</a>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                                        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
                                    </svg>
                                </div>
                                    </center>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    }

    </div>


