@model List<MVC_CORE.Models.student_videos>
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduport.webestica.com/course-video-player.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 15:46:23 GMT -->
<head>
    <title>Eduport - LMS, Education and Course Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Eduport- LMS, Education and Course Theme">

    <link rel="stylesheet" href="~/css/videos/comments.css" />

    <link rel="stylesheet" href="~/css/videos/style.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Favicon -->
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/plyr/plyr.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/videos/style.css">

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <section class="py-0 bg-dark position-relative">

            <div class="row g-0">
                <div class="d-flex">
                    <div class="overflow-hidden fullscreen-video w-100">
                        <!-- Full screen video START -->
                        <div class="video-player rounded-3">

                            <video controls crossorigin="anonymous" playsinline poster="~/video/@ViewBag.q.image">
                                <source src="~/video/@ViewBag.q.Source" type="video/mp4" size="360">


                            </video>

                        </div>
                        <!-- Full screen video END -->
                        <!-- Plyr resources and browser polyfills are specified in the pen settings -->
                    </div>

                    <!-- Page content START -->
                   
                    <!-- Page content END -->
                </div>
            </div>

        </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Back to top -->

    <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>


    <br /><br />

    <!--comments start-->

    <div class="container bootdey">
        <div class="col-md-12 bootstrap snippets">
            <div class="panel">



            </div>




        </div>
    </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="~/js/videos/plyr.js"></script>

    <!-- Template Functions -->
    <script src="~/js/videos/functions.js"></script>

</body>

<!-- Mirrored from eduport.webestica.com/course-video-player.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 15:46:23 GMT -->
</html>
